## --- PRODUKTY KOMPILACJI (Kluczowe dla Bartek, Kacper, Kuba) ---
[Bb]in/
[Oo]bj/
[Tt]est[Rr]esults/

## --- VISUAL STUDIO (Kluczowe dla Emil i Tymon) ---
.vs/
*.user
*.userosscache
*.suo
*.sln.docstates
*.rsuser

## --- VISUAL STUDIO CODE ---
.vscode/
*.code-workspace
.history/

## --- PLIKI KONFIGURACYJNE I SEKRETY ---
# Ignorujemy lokalne ustawienia deweloperskie, aby nie nadpisywać sobie nawzajem połączeń do bazy
appsettings.Development.json

## --- BAZA DANYCH (Zadania Tymona) ---
# Ignorujemy lokalne pliki baz danych, aby każdy miał własną testową kopię
*.mdf
*.ldf

## --- PUBLIKACJA I NARZĘDZIA ---
publish/
*.log
.nuget/
lib/

## --- SYSTEMOWE ---
.DS_Store
Thumbs.db