<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Biblioteka Nova</title>
    
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

    <header class="navbar">
        <div class="container nav-container">
            <div class="logo">
                <i class="fa-solid fa-book-open"></i> Biblioteka Nova
            </div>
            <nav class="nav-links">
                <a asp-controller="Home" asp-action="Index" class="nav-link">Strona Główna</a>
                
                <a asp-controller="Ksiazki" asp-action="Index" class="nav-link"><i class="fa-solid fa-book-open-reader"></i> Książki</a>
                
                <a asp-controller="Uzytkownicy" asp-action="Index" class="nav-link"><i class="fa-solid fa-shield-halved"></i> Panel Admina</a>
            </nav>
            <div class="auth-links">
                <a asp-controller="Account" asp-action="Login" class="btn btn-warning"><i class="fa-solid fa-arrow-right-to-bracket"></i> Logowanie</a>
                
                <a asp-controller="Account" asp-action="Register" class="auth-link"><i class="fa-solid fa-user-plus"></i> Rejestracja</a>
            </div>
        </div>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer class="footer text-center">
        <p>&copy; @DateTime.Now.Year - Biblioteka Nova</p>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>