@{
    ViewData["Title"] = "Strona Główna";
}

<div class="hero-section">
    <div class="hero-content">
        <h1>Witamy w Bibliotece<br>Nova</h1>
        <p>
            Odkryj tysiące książek, czasopism i multimediów. Nasz zintegrowany system<br>
            umożliwia łatwe zarządzanie wypożyczeniami i wyszukiwanie czytelników.
        </p>
        <div class="actions">
            @if (User.Identity.IsAuthenticated)
            {
                @* Jeśli zalogowany, kierujemy do Dashboardu *@
                <a href="/Uzytkownicy/Dashboard" class="link-panel">Przejdź do panelu →</a>
            }
            else
            {
                @* Jeśli niezalogowany, kierujemy do Logowania *@
                <a href="/Account/Login" class="link-panel">Zaloguj się do panelu →</a>
            }
        </div>
    </div>
</div>